.explore_section{
    width: 100%;
    margin-top: 20px;
    /* padding: 20px; */
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.exPosts{
    width: 60%;
    padding: 20px 2%;
    /* background-color: #0095f6;    */
    display: flex;
    row-gap: 20px;
    align-self: center;
    column-gap: 20px;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}